*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 1s;
    list-style: none;
}
input{
    border: none;
    background-color: #fbfbfb;
}


:root{
    --taile:2em;
}


div.container{
    width: 60%;
    height: 70vh;
    margin:  10% auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 25px;
}

div.container > div.ecran{
    background-color: #fbfbfb;
    height: 20vh;
    border-radius: 25px;
    box-shadow: 2px 2px 1px #f3f2f2,-2px -2px 1px #f3f2f2, -2px 2px 1px #f3f2f2, 2px -2px 1px #f3f2f2;
    margin: 10px;

}


div.container> div.ecran >div.calcul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 10px;
    /* border: 1px solid black; */
    height: 10vh;
}
div.container> div.ecran >div.resultat > input{
    width: 100%;
    height: 6vh;
    text-align: end;
}
div.container> div.ecran >div.calcul > input{
    /* border: 1px solid black; */
    width: 100%;
    margin: 10px;
}


div.container > div.clavier{
    display: flex;
    justify-content: space-around;
    
}
div.nombre{
    width: 50%;
    /* background-color: #f4f4f4; */
    border-radius: 25px;
    margin: 10px;
}
div.nombre > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid black; */
    height: 33.5vh;
}

ul > div.ligne{
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 100%;
 height: 50px;
 font-size: var(--taile);
 /* border: 1px solid black; */
 /* background-color: #ececec; */
}
ul > div.ligne li{
    /* border: 1px solid black; */
    width:50% ;
    text-align: center;
}

ul > div.ligne li:hover, div.Zero li:hover{
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 25px;
}

ul > div.ligne + div.Zero{
    width: 100%;
    /* margin: auto; */
    /* border: 1px solid black; */
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--taile);
}
ul > div.ligne + div.Zero li{
    width: 100%;
}

div.operation{
    width: 50%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}


div.operation> ul > div.oper{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column */
    /* align-items: ; */
    /* border: 1px solid black; */
    height: 25vh;
    /* width: 100%; */
}
div.operation> ul > div.oper > div {
    width: 100%;
    text-align: center;
}

div.operation> ul > div.oper > div >li{
    /* border: 1px solid black; */
    width: 100%;
    height: 55px;
    line-height: 50px;
    font-size: var(--taile);
}

div.operation> ul > div.oper > div >li:hover{
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 25px;
}

div.egale{
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    height: 55px;
    font-size: var(--taile);
}


div.egale:hover{
    background-color: #f7f7f7;
    cursor: pointer;
    border-radius: 25px;
}


div.last > button{
    background-color: #fff;
    width: 100%;
    border-radius: 50px;
    border: none;

}



div.last > button:hover{
    background-color: #f7f7f7;
    /* cursor: pointer; */
    border-radius: 25px;
    height: 50px;
}